#perfil-img-a{
	display: inline-block;
	width: 150px;
    height: 150px;
    margin-bottom: 0px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img_registro_cliente #rotar_i {
    left: -15px !important;
}

.img_registro_cliente #rotar_d {
    right: -15px !important;
}

.img_registro_cliente .btn_rotar {
    top: 110px !important;
}

.img_registro_cliente .btn_aplicar_rotar {
    margin: 5px 0px 10px !important;
}

#loading-perfil{
	display: none;
}

#loading-perfil,
#loading-perfil img
{
	width:100%; 
	height: 100%;
}

button.close {
    z-index: 9999999;
}