# wordpress

# Carpetas

/Migracion/
/Cambios/
/.idea/
/Pruebas/
/wp-admin/
/wp-includes/
/wp-content/gallery/
/wp-content/languages/
/wp-content/ngg/
/wp-content/ngg_styles/
/wp-content/upgrade/
/wp-content/uploads/

Respaldo*

# Archivos

.htaccess
favicon.ico
/wp-content/index.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
vlz_config.php

# Plugins

/wp-content/plugins/contact-form-7/
/wp-content/plugins/js_composer/
/wp-content/plugins/LayerSlider/
/wp-content/plugins/redux-framework/
/wp-content/plugins/woocommerce/
/wp-content/plugins/WooCommerce.Deposits.Partial.Payments.Plugin.v1.4.2/
/wp-content/plugins/woocommerce-bookings/
/wp-content/plugins/woocommerce-product-addons/
/wp-content/plugins/wp-mail-smtp/
/wp-content/plugins/zopim-live-chat/


/wp-content/plugins/woocommerce-bookings/.tx/
licencia.txt
*.txt
logo-kmimos210x120.png
readme.html
.idea/workspace.xml
.idea/modules.xml
wp-content/plugins/kmimos-orig/
wp-content/themes/pointfinder-orig/
imgs/
